.cars .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}
.cars .box-container .box img{
    height:17rem;
    margin:1rem 0;
}
.cars .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}
.cars .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}
.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}
.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}
.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}
.menu .box-container .box .content .price{
    color:var(--green);
    font-size: 2.5rem;
    margin-top: 20px;
}